
.collapsHeader {
    display: grid;
    justify-content: start;
}

.collapsContent {
    max-height: 500px;
    transition: ease-in-out 0.3s;
}

.collapsContentChecked {

    max-height: 0px;
    overflow: hidden;
}


@media (max-width : 1000) {
    .collapsContainer {
        width: 90%;
    }
}