.station-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.station-card h3 {
    margin: 0;
    color: #333;
}

.station-card p {
    margin: 5px 0;
    font-size: 14px;
}

.hide {
    display: none;
}

.data {
    background-color: lightgreen;
}

.disable {
    pointer-events: none; /* Prevent clicks */
    opacity: 0.5; /* Make it visually faded */
    filter: grayscale(80%); /* Make it appear dimmed */
    cursor: not-allowed; /* Show 'not allowed' cursor */
}
