
.hide {
    display: none;
}

.mean-temp-panel {
    background: #f9f9f9;
    border-radius: 8px;
    margin-right: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
}

.mean-temp-panel h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

.charts-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
